.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wishes span {
    font-size: 80px;
}

.orange-text {
    color: #FF5722;
}

.white-text {
    color: #FFFFFF;
}

.green-text {
    color: #4CAF50;
}

body {
    background-color: azure;
    overflow: hidden;
}

.layer {
    width: 30vw;
    height: 100px;
}

.orange {
    background-color: #FF5722;

}

.white {
    background-color: #FFFFFF;
}

.green {
    background-color: #4CAF50;
}

.blue-text {
    color: #0000ff;
}

.middle {
    position: relative;
}

.flag {
    transform-style: preserve-3d;
    perspective: 150px;
}

.cloth {
    /* position: absolute; */
    animation: flag-waves 5s linear infinite;
    transform-origin: left;
    box-shadow: 0 0 3px 0 black;
}

.stand {
    width: 20px;
    background-color: steelblue;
    height: 400px;
    align-self: flex-start;
}

.wheel {
    /* box-sizing: border-box; */
    position: relative;
    width: 100px;
    height: inherit;
    border-radius: 50%;
    border: 2px solid blue;
    background-color: transparent;
    left: 38%;
    transform: translateX(-50%);
    animation: spin 30s linear infinite
}

.line {
    position: absolute;
    width: inherit;
    height: 2px;
    top: 50%;
    background-color: blue;
}

.line:nth-child(1) {
    transform: rotate(15deg);
}

.line:nth-child(2) {
    transform: rotate(30deg);
}

.line:nth-child(3) {
    transform: rotate(45deg);
}

.line:nth-child(4) {
    transform: rotate(60deg);
}

.line:nth-child(5) {
    transform: rotate(75deg);
}

.line:nth-child(6) {
    transform: rotate(90deg);
}

.line:nth-child(7) {
    transform: rotate(105deg);
}

.line:nth-child(8) {
    transform: rotate(120deg);
}

.line:nth-child(9) {
    transform: rotate(135deg);
}

.line:nth-child(10) {
    transform: rotate(150deg);
}

.line:nth-child(11) {
    transform: rotate(165deg);
}

.line:nth-child(12) {
    transform: rotate(180deg);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes flag-waves {
    from {
        transform: rotateY(0deg);
    }

    30% {
        transform: rotateY(1deg);
    }

    60% {
        transform: rotateY(0deg);
    }


    90% {
        transform: rotateY(-1deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}